<div class="text-center">
    <a href="/logout" class="btn btn-primary -5" role="button">Logi välja</a>
    <a href="/dashboard" class="btn btn-primary -5" role="button">Home</a>
    <a href="/products" class="btn btn-primary -5" role="button">Tooted</a>
    <a href="/addproduct" class="btn btn-primary -5" role="button">Lisa</a>
</div>
