<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
<div class="container">
    <div class="text-center">
        <h3><%= `Welcome${locals.user ? ', ' + user['firstname'] : ''}!` %></h3>
        <a href="/logout" class="btn btn-primary -5" role="button">Log out</a>
    </div>
</div>

<%- include('./partials/scripts'); %>
</body>

</html>
