<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <div class="container">
        <tr class="blank_row">
            <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
        </tr>
        <div class="text-center">
            <a href="/login" class="btn btn-primary -5" role="button">Logi sisse</a>
            <a href="/register" class="btn btn-primary -5" role="button">Registreeri</a>
        </div>
        <div class="text-center">
            <img src="https://st.depositphotos.com/1594920/1698/i/600/depositphotos_16982039-stock-photo-golden-shaded-british-shorthair-7.jpg"
                alt="a photo of a cat" />
        </div>
    </div>

    <%- include('./partials/scripts'); %>
</body>

</html>